/* styles.css */

html, body {
    height: 100%;
    margin: 0; /* Remove default margin to fill the whole screen */
    padding: 0; /* Remove default padding to fill the whole screen */
}

body {
    background: linear-gradient(to bottom, lightblue, lightgreen);
}

.card {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px; /* Add margin between the cards */
}

.pill {
    color: white;
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners */
    font-weight: bold;
    justify-content: center;
    min-width: 80px;
}

/* Green Pill */
.green-pill {
    background-color: #4CAF50; /* Green color */
}

/* Orange Pill */
.orange-pill {
    background-color: #FFA500; /* Orange color */
}

/* Grey Pill */
.grey-pill {
    background-color: #808080; /* Grey color */
}






